language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - "pip install -r src/requirements.txt"
  - "pip install -r src/requirements_test.txt"
  - "mkdir -p reports"
script:
  - "pytest"
after_success:
  - "coveralls"
